<div class="row">
    <div class="col-xs-3">
        <p>bio</p>
      
    </div>
    <div class="col-xs-6">
        <p>feed</p>
    
    </div>
    <div class="col-xs-3">
        <p>about</p>
    </div>

</div>


